.bg-loading {
  background: rgba(255,255,255,0.55);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
}

// Spinner 

.loader,
.loader:after {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.loader {
  font-size: 10px;
  text-indent: -9999em;
  border-top: 1.1em solid $gray-light;
  border-right: 1.1em solid $gray-light;
  border-bottom: 1.1em solid $gray-light;
  border-left: 1.1em solid $blue-darkest;
  // -webkit-transform: translateZ(0);
  // -ms-transform: translateZ(0);
  // transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  z-index:999;

  &.spinner-center {
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    top: 50%;
    left: calc(50% - 50px);
  }
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
